*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/google-services.json
GoogleService-Info.plist
/app/src/main/res/values/secrets.xml
/app/release/
**/*.apk
**/*.aab
.kotlin/
*.log
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini